{% extends "base.html" %}

{% block script%}

<script>
function getParameterByName(name, url){
	if (!url) {
		url = window.location.href;
	}
	name = name.replace(/[\[\]]/g, "\\$&");
	var regex = new RegExp("[?&]" + name + "(=([^&#]*)|&|#|$)"),
		results = regex.exec(url);
	if (!results) return null;
	if (!results[2]) return '';
	return decodeURIComponent(results[2].replace(/\+/g, " "));	




}


	$(document).ready(function(){

		var query = getParameterByName('q');
		var postList = [];
		function parsePosts(){
			if (postList == 0){
				$("#post-container").text("No posts found!")


			}
			else {
				//posts exist parse it

			$.each(postList, function(key, value){
					var postKey = key;
					var postContent = value.content;
					var postUser = value.user;
					$("#post-container").append(
						"<div class=\"media\"><div class="\media-body\">" + postContent + "<br/> via " postUser.username + " | " + "<a href='#'>View2</a>" + "</div></div></hr>"



						)

				})
			}

		}
		
		 
		  
		
		$.ajax({
			url:"/api/posts",
			data: {
				"q" : query
			},
			method:"GET",
			success: function(data){
				postList = data
				parsePosts()
							},
			error: function(data){
				console.log("ERROR!");
				console.log(data);
			}
		})


	})
	


</script>


{% endblock script %}

{% block content %}





<div class =" row">
	<div class="col-xl-4 ml-auto mr-auto">
		{% include "posts/search_form.html" %}		
	</div>
	<br>
	</div>
	<div class="row">
	<div class = "col-sm-4  mr-auto ml-auto text-center" style='background-color: gray'>
		<h2>{{ request.user }}</h2>
		
	</div>
	
	<div class="col-sm-12 text-center" style="">

	{% if not request.GET.q %}
	<div class="col-sm-6 mr-auto ml-auto text-center">
 		{% include "posts/form.html" with form=create_form action_url=create_url btn_title="Post"%}
	</div>
	<hr/>
{% endif %}
		{% for object in object_list %}
		<div class="media">
		  {% if object.image %}<img class="mr-3" src="..." alt="...">
		  {%endif%}
		  <div class="media-body">
		    
		    {{ object.content }}<br/>
		    via {{ object.user }} | {{ object.timestamp|timesince }} ago <a href="{{ object.get_absolute_url }}">View</a>
		  </div>
		</div>
<hr/>
	{% empty %}
	{% if request.GET.q %}
	<p> No Posts found</p>
	{% else %}
		<p> No Posts yet</p>
	{% endif %}


{% endfor %}
</div>
</div>
{% endblock content %}